 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body {
    background: linear-gradient(0.5turn, black, rgb(17, 126, 177), black);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
 }

 body i { font-family:'FontAwesome'!important;}

.container {
   max-width: 1280px;
   margin: 0 auto;
}
header {
   border-bottom: 10px solid #fff;
}
.header-conainer{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   min-height: 100px;
   padding: 0 30px;
}
.title, h2 {
   display: inline-block;
   font-size: 2rem;
   color: rgb(245, 245, 245);
}
.title i {
   padding-right: 20px;
}

.search-box {
   display: flex;
   position: relative;
}

.atention {
   display: none;
   position: absolute;
   color:#fff;
   font-size: 22px;
   padding: 10px 20px;
   background-color: rgba(204, 43, 43, 0.8);
   border-radius: 10px;
   width: 240px;
   height: 80px;
   text-align: center;
   left: 10px;
   top: 52px;
}


#input, #search-btn {
   border-radius: 25px 0 0 25px;
   outline: none;
   padding: 10px 20px 10px 20px;
   border: 0px;
   font-size: 18px;
   transition: min-width 1s ease;
}

#search-btn {
   border-radius:  0 25px 25px 0;
   cursor: pointer;
   color: #fff;
   font-family: 'Poppins', serif;
   font-size: 16px;
   font-weight: 400;
   background: rgba(72, 84, 250, 1);
}
#search-btn:hover {
   background: rgba(72, 84, 250, .5);
}
#search-btn i {
   padding: 0 15px 0 0;
}
#search-btn span {
   font-size: 18px;
   font-weight: 500;
}

.weather {
   margin: auto;
   display: flex;
   flex-direction: column;
   height: 80vh;
   align-items:center;

}

 .main, .details {
   display: flex;
   padding: 20px;
   flex-direction: row;
   align-items:center;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   width: 100%;
   font-weight: bold;
   color: #fff;
   text-transform: uppercase;
 }

.main {
   font-size: 88px;
}
.temp {
   padding-right: 20px;
}
.city {
   padding-left: 20px;
}
.details {
   margin-top: 50px;
   width: 80%;
   font-size: 20px;
   font-weight: 500;
}


.humidity, .wind, .pressure {
   font-size: 28px;
}


 @media screen and (max-width: 800px) {
   #input {
      max-width: 200px;
   }
   .main {
      font-size: 70px;
      padding: 20px 40px;
   }
   .details {
      width: 100%;
      font-size: 20px;
   }
 }


 @media screen and (max-width: 740px) {
   #input {
      max-width: 160px;
   }
   #search-btn {
      padding: 10px 10px 10px 20px;
   }
   #search-btn span {
      display: none;
   }
   h2 span{
      display: none;
   }
   #input:focus {
      min-width: 270px;
   }
 }
